<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kmitl.powfeez">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/robot"
        android:label="POWFeeZ Droid"
        android:roundIcon="@drawable/robot"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".selectdetectmain"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetectMain1"
            android:screenOrientation="landscape"
        />

    </application>

</manifest>